header{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.containerApp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 200px;
  grid-template-areas: 
  "programa scanner parserSemantico"
  "programa scanner ."
  "consola consola consola"
  ;
}

textarea{
  font-size: 30px !important; 
  line-height: 1 !important; 
}

#programa{
  grid-area: programa;
}

#scanner{
  grid-area: scanner;
}

#consola{
  grid-area: consola;
}

#parserSemantico{
  grid-area: parserSemantico;
}