@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


header{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  min-width: 1354px;

}

.container{
  display: flex;
  justify-content: center;
  min-width: 1354px;

}

.containerApp{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 200px;
  grid-template-areas: 
  "programa scanner parserSemantico"
  "programa scanner ."
  "consola consola ."
  ;
}

.css-1q964xs-MuiFormLabel-root-MuiInputLabel-root{
  color: black !important;
  font-weight: bold !important;
}

.css-18pjc51-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: black !important;
  font-weight: bold !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.486);
  border-width: 2px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
  border-width: 2px !important;
}

#programa textarea, #scanner textarea{
  font-size: 30px !important;
  line-height: 1 !important;
  width: 500px;
}

#parserSemantico textarea{
  font-size: 30px !important;
  line-height: 1 !important;
  width: 250px;
}

#consola textarea{
  font-size: 30px !important;
  line-height: 1 !important;
  font-family: "Inconsolata", monospace !important;
  font-style: normal !important;
  width: 1040px;
}

#programa{
  grid-area: programa;
}

#scanner{
  grid-area: scanner;
}

#consola{
  grid-area: consola;
}

#parserSemantico{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  grid-area: parserSemantico;
}