@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body {
  background-image: url('./wavy-lines.svg');
  background-size: cover;
}

header{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  min-width: 1220px

}

header #fade-button{
  position: absolute;
  top: 0;
  left: 0;
  color: black !important;
}

.container{
  display: flex;
  justify-content: center;
  min-width: 1220px;

}

.containerApp{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "programa scanner parserSemantico"
  "codigoIntermedio . ."
  "consola consola ."
  ;
}

#programa textarea, #scanner textarea{
  font-size: 30px !important;
  line-height: 1 !important;
  width: 500px;
  height: 350px !important;
  overflow: auto !important;
}

#codigoIntermedio textarea{
  font-size: 30px !important;
  line-height: 1 !important;
  width: 500px;
  height: 350px !important;
  overflow: auto !important;
}

#parserSemantico textarea{
  font-size: 30px !important;
  font-weight: bold !important;
  line-height: 1 !important;
  width: 350px;
}

#consola textarea{
  font-size: 15px !important;
  line-height: 1 !important;
  font-family: "Inconsolata", monospace !important;
  font-style: normal !important;
  width: 1040px;
  height: 75px !important;
  overflow-y: auto !important;
}

#programa{
  grid-area: programa;
  background-color: white;
}

#scanner{
  grid-area: scanner;
  background-color: white;
}

#consola{
  grid-area: consola;
  background-color: white;
}

#parserSemantico{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  grid-area: parserSemantico;
}

#codigoIntermedio{
  grid-area: codigoIntermedio;
}

@media (height < 767px){
  #programa textarea, #scanner textarea{
    height: 450px !important;
  }
}

@media (width < 1482px){
  #programa textarea, #scanner textarea{
    width: 375px !important;
  }

  .containerApp{
    grid-template-columns: 400px 400px auto;
  }

  #consola textarea{
    width: 785px;
  }
}

.css-1q964xs-MuiFormLabel-root-MuiInputLabel-root{
  color: black !important;
  font-weight: bold !important;
}

.css-18pjc51-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: black !important;
  font-weight: bold !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.486);
  border-width: 2px;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
  border-width: 2px !important;
}

header #botonScan{
  color: black !important;
  font-weight: bold !important;
  border-color: black !important;
}

header #botonParser{
  color: rgb(28, 131, 28) !important;
  font-weight: bold !important;
  border-color: rgb(28, 131, 28) !important;
}

header #botonSemantico{
  color: blue !important;
  font-weight: bold !important;
  border-color: blue !important;
}

header #botonBorrar{
  color: red !important;
  font-weight: bold !important;
  border-color: red !important;
}
